## Task File - Fundamentals of Data Analysis

### Author: OOS

#### Task 1 - The Collatz Conjecture

##### The Collatz conjecture is a famous and unproven maths conjecture or problem which states that any positive integer, if even, continuously divided by 2 or if odd, continuously divided by 3 and added to 1, will always results in the number 1. As it applies to every possible positive integer, its not yet possible to prove for every case. It can be defined in mathematical notation as

if x is even $$ f(x) =  x รท 2 $$  otherwise $$ f(x) = 3x + 1 $$ 

##### This program checks this is true for the first 10,000 numbers

In [ ]:
x = 5

#Checking if number if even, then If number is even, then its divding it by 2

def func(x):

    if x % 2 == 0:
        print(x // 2)
        return x // 2

#Checking if number is odd, then if number is odd, then adding 1

    elif x % 2 == 1:
        result = 3 * x + 1
        return result

#The following code taken partially from https://ultimatetheorem.blogspot.com/2020/08/visualization-of-collatz-conjecture_10.html
#This code defines the function "collatz" and while it's not equal to 1, repeats the function above and prints the value of x for each step. 
# When it reaches one, it prints "1" and finishes.

def collatz(x):
    while x != 1:
        print(x, end=' , ')
        x = func(x)
    print(x)
               
collatz(10000)

***

### End of Task 1

#### Task 2 - The Penguins data set

##### The Penguins data set is a famous and widely used dataset. It contains seven fields categorising observations, three of which are Categorical (Species, Sex and Island) and three of which are Quantative or Continuous (Bill length, Bill depth, Flipper length,Body mass). 

#### To analyse this dataset, it would be useful to start with a simple summary table

##### This program

In [11]:
# To analyse this dataset, it would be useful to start with a simple summary table

import numpy as np
import pandas as pd

penguins = pd.read_csv("C:/Users/Oisin/Data Course/4359 FUNDAMENTALS OF DATA ANALYSIS/penguins.csv")

print(penguins.head)

<bound method NDFrame.head of     species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen            39.1           18.7              181.0
1    Adelie  Torgersen            39.5           17.4              186.0
2    Adelie  Torgersen            40.3           18.0              195.0
3    Adelie  Torgersen             NaN            NaN                NaN
4    Adelie  Torgersen            36.7           19.3              193.0
..      ...        ...             ...            ...                ...
339  Gentoo     Biscoe             NaN            NaN                NaN
340  Gentoo     Biscoe            46.8           14.3              215.0
341  Gentoo     Biscoe            50.4           15.7              222.0
342  Gentoo     Biscoe            45.2           14.8              212.0
343  Gentoo     Biscoe            49.9           16.1              213.0

     body_mass_g     sex
0         3750.0    MALE
1         3800.0  FEMALE
2         3250.0  FEMALE
3            NaN     NaN
4         3450.0  FEMALE
..           ...     ...
339          NaN     NaN
340       4850.0  FEMALE
341       5750.0    MALE
342       5200.0  FEMALE
343       5400.0    MALE

[344 rows x 7 columns]>

list