## Task File - Fundamentals of Data Analysis

### Author: OOS

#### Task 1 - The Collatz Conjecture

##### The Collatz conjecture is a famous and unproven maths conjecture or problem which states that any positive integer, if even, continuously divided by 2 or if odd, continuously divided by 3 and added to 1, will always results in the number 1. As it applies to every possible positive integer, its not yet possible to prove for every case. It can be defined in mathematical notation as

if x is even $$ f(x) =  x รท 2 $$  otherwise $$ f(x) = 3x + 1 $$ 

##### This program checks this is true for the first 10,000 numbers

In [ ]:
x = 5

#Checking if number if even, then If number is even, then its divding it by 2

def func(x):

    if x % 2 == 0:
        print(x // 2)
        return x // 2

#Checking if number is odd, then if number is odd, then adding 1

    elif x % 2 == 1:
        result = 3 * x + 1
        return result

#The following code taken partially from https://ultimatetheorem.blogspot.com/2020/08/visualization-of-collatz-conjecture_10.html
#This code defines the function "collatz" and while it's not equal to 1, repeats the function above and prints the value of x for each step. 
# When it reaches one, it prints "1" and finishes.

def collatz(x):
    while x != 1:
        print(x, end=' , ')
        x = func(x)
    print(x)
               
collatz(10000)

***

### End of Task 1

#### Task 2 - The Penguins data set

##### The Penguins data set is a famous and widely used dataset. The data was collected by Dr Kristen Gorman and features data about the characteristics of three species of penguins on three islands in the Palmer Archipelago, Antarctica. It contains seven fields columns of observations, three of which are Categorical (Species, Sex and Island) and three of which are Quantative or Continuous (Bill length, Bill depth, Flipper length,Body mass). There are a total of 344 rows of data, each representing 1 penguin. 

#### Of the Categorical Variables;
##### Sex can be considered dichotomous, as they can only take on one of two values (male or female)
##### Both Island and Species each have only three possible values (Biscoe,Torgersen,Dream and Adelie,Chinstrap,Gentoo respectively) which cannot be logically ordered, so both can be considered Nominal variables.
##### In Python,these will be rendered as string (str) type variables.

#### Of the Continuous Variables;
##### Flipper Length and Body Mass are best described as Natural numbers, as neither are decimals and cannot be negative or zero.
##### Bill Length and Bill Depth, while not potentially infinite and cannot be either negative or zero, are Rational Numbers.
##### In Python, Flipper Length and Body Mass will be Integer values type variable(int) s and Bill Length and Bill Depth will be Floating Point number type variables (float).

##### This program loads the CSV file with the raw data, creates and displays a table of summary statistics. It then models the variables as "list" type. THis is done as lists are easier to manipulate for data analysis purposes across all the types of variables above.

In [ ]:
# To analyse this dataset, we first importthe numpy and pandas modules

import numpy as np
import pandas as pd

# The following step reads the data from the CSV file and puts it in the data frame, 
# a two-dimensional format with rows and columns similar to a sheet in Excel or the original csv file

data = pd.read_csv("C:/Users/Oisin/Data Course/4359 FUNDAMENTALS OF DATA ANALYSIS/penguins.csv")
df = pd.DataFrame(data, columns=["species","island", "bill_length_mm", "bill_depth_mm", "flipper_length_mm","body_mass_g",""])

#The following steps create and print a table with featuring summary statistics for each of the four numerical variables, 
# with  values rounded to 2 decimal places

summary = data.describe()
rounded_summary = np.round(summary,2)

print(rounded_summary)

# The following code converts each of the seven variables above into the "list" type for easier analysis

species = data['species'].tolist()
island = data['island'].to_list()
bill_length = data['bill_length_mm'].tolist()
bill_depth = data['bill_depth_mm'].tolist()
flipper_length = data['flipper_length_mm'].tolist()
body_mass = data['body_mass_g'].tolist()
sex = data['sex'].tolist()

In [23]:
# The following cells count the number of each variable in the categorical/qualitative columns. 
# This is drawn from https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.count.html

data.value_counts(species)

Adelie       152
Gentoo       124
Chinstrap     68
dtype: int64

In [22]:
data.value_counts(island)

Biscoe       168
Dream        124
Torgersen     52
dtype: int64